<!-- Header Section -->
<header id="main-header" class="bg-header py-3">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="header-logo d-flex align-items-center">
            <a href="/" class="navbar-brand d-flex align-items-center" style="gap:12px;">
                <img src="/assets/imgs/logo-placeholder.png" alt="Logo" style="height:40px;width:auto;">
                <!-- TODO add logo asset, depending on the logo to decide keeping/removing the text -->
                非鱼剧社
            </a>
        </div>
        <!-- Navigation Bar Section -->
        {% include nav.html %}
        <!-- TODO future 支持我们 联系我们 section-->
    </div>
</header>
