<!-- 左侧文字区域 -->
<div class="banner-text">
  <div class="text-content">
    <h1 class="title mb-3">{{ include.title }}</h1>
    <p class="mb-2">{{ include.event_time }}</p>
    <p class="mb-4">地点：{{ include.location }}</p>

    <button class="btn btn-danger mb-4">点击购票</button>

    {% include components/countdown.html early_bird_purchase_deadline=include.early_bird_purchase_deadline %}
  </div>
</div>

<!-- 中间图片区域 -->
<div class="banner-image">
  <img src="{{ include.image }}" alt="Banner Image">
  <div class="gradient-overlay-left"></div>
  <div class="gradient-overlay-right"></div>
</div>

<!-- 右侧黑色区域 -->
<div class="banner-side"></div>