<!-- _includes/countdown.html -->
<div class="countdown-timer" data-deadline="{{ include.early_bird_purchase_deadline }}">
  <div class="mb-2">早鸟票剩余时间：</div>

  <div class="countdown-values">
    <div class="countdown-group">
      <span class="days">00</span>
      <span class="label">Days</span>
    </div>
    <div class="countdown-group">
      <span class="hours">00</span>
      <span class="label">Hours</span>
    </div>
    <div class="countdown-group">
      <span class="minutes">00</span>
      <span class="label">Mins</span>
    </div>
    <div class="countdown-group">
      <span class="seconds">00</span>
      <span class="label">Secs</span>
    </div>
  </div>
</div>